@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme: {

        color:{
            --primary-color: '#606060';
        }

        font:{
                --hanken-grotesk: [ 'hanken-grotesk', 'san-serif'];
        
        }

}
